
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}



/* Headers
-------------------------------------------------- */
h1{
	text-align:center;
}

p{
  text-align: justify;
  text-justify: inter-word;
}


/* Banner
-------------------------------------------------- */
#banner 
{
 background-position: left top;
 background-size:cover;
 height:28em;
 text-align:center;
 position:relative
}

#banner header 
{
 position:absolute;
 bottom:0;
 left:0;
 width:100%;
 background:#212121;
 background:rgba(27,27,27,0.75);
 color:#fff;
 padding:8px 0
}

#banner header h2 
{
 display:inline-block;
 margin:0;
 font-size:1.5em;
 vertical-align:middle
}

#banner header h2 em 
{
 opacity:0.75
}

#banner header h2 a 
{
 border-bottom-color:rgba(255,255,255,0.5)
}

#banner header h2 a:hover 
{
 border-bottom-color:transparent
}

#banner header .button 
{
 vertical-align:middle;
 margin-left:1em
}

.centre
{
 text-align:center;
}

.crop 
{
 overflow:hidden;
 margin-right:auto;
 margin-left:auto;
 text-align:center;
 
}

.profile img 
{
	object-fit: cover;
	object-position: center;
	height:12em;
	width: 8em;
	border-radius:1em;
	-moz-border-radius:1em;
 	-webkit-border-radius:1em;
}
.profile b{
 text-align:center;
 font-size:1em;
 line-height: 1.2em;
 padding-bottom:1em;
}
.profile p{
 text-align:center;
 font-size:1em;
 line-height: 1em;
 padding-bottom:1em;
}
.profile a {
 display:block;
 font-size:0.9em;
 color:black;
 font-weight:400;
 border-bottom: 0;
 line-height: 1.2em;
 line-height: 1em;
 padding-bottom: 0.2em;
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}

.sponsor-logo{
 overflow:hidden;
 margin-right:auto;
 margin-left:auto;
 text-align:center;
}

.sponsor-logo img{
	object-fit: cover;
	object-position: center;
	height:12em;
	width: 8em;
	border-radius:1em;
	-moz-border-radius:1em;
 	-webkit-border-radius:1em;
}

.assia{
	width: auto;
  object-position: center;
  margin-left:auto;
  margin-right:auto;
  text-align:center
  place-content:center
}

.assia img{
	width: auto;
  object-position: center;
  margin-left:auto;
  margin-right:auto;
  text-align:center
  place-content:center
}

.sponsor-logo-sidebar{
 overflow:hidden;
 margin-right:auto;
 margin-left:auto;
 text-align:center;
}
.sponsor-logo-sidebar img{
	height: auto;
	width:100%;
}


table.jobsboard {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table.jobsboard td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table.jobsboard tr:nth-child(even) {
  background-color: #dddddd;
}



table.papers {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table.papers th {
  border: 1px solid #fff;
  text-align: left;
  padding: 8px;
  color: white;
  padding: 20px;

}

table.papers td.papers {
  border: 1px solid #fff;
  text-align: left;
  padding: 8px;
}

table.papers tr:nth-child(even) {
  background-color: #ccc;
  border: 1px solid #fff;

}

table.papers tr:nth-child(odd) {
  background-color: #eee;
  border: 1px solid #fff;
}


.post-image {
	object-position: center;
	object-fit: cover;
  text-align:center;
  margin: auto;
  display: inline;
  max-width: 100%;
  height: auto;
}

.paper_badge {
  background-color: #FFFFFF;
  padding: 3px 8px 3px 8px;
  margin-left: 5px;
  border-radius: 4px;
  color: #565656;
  /* font-family: "Gill Sans", sans-serif; */
  /* font-size: 12px; */
  /* font-style: normal; */
  /* font-weight: lighter; */
  border: 1px solid #EAEAEA;
  float: right;
}

.paper_li {
  background-color: #F3F3F3;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  color: 'black';
}

.paper_authors {
  color: #565656;
  font-weight: lighter;
}

.paper_title {
  /* font-weight: bold; */
  color: #565656;
}

.paper_abstract {
  margin-top: 10px;
  /* font-size: 14px; */
  font-weight: lighter;
  text-align: justify;
  text-justify: inter-word;
  display: none;
}