{% if page.year != null %}
    {% assign year = page.year %}
{% else %}
    {% assign year = site.data.3dv.current-year %}
{% endif %}

<section>
	<h3><i class="far fa-newspaper"></i> &nbsp; </i>Latest News</h3>
	<ul style="list-style-type:none;">
    {% for post in site.posts limit:5 %}
      {% if post.year == page.year %}
	    <li>
	      <a href="{{site.url}}{{ post.url }}">
	      	<div>
	      		<b><i class="fas fa-arrow-right"></i>   &nbsp; {{ post.title }}</b><br>
	      		<b>{{ post.date  | date: "%Y-%m-%d"}}</b>
	      	</div>
	      </a>
	    </li>
	    <hr>
	    {% endif %}
	  {% endfor %}
	</ul>
</section>