{% if page.year != null %} {% assign year = page.year %} {% else %} {% assign
year = site.data.3dv.current-year %} {% endif %}

<script
  async
  src="https://platform.twitter.com/widgets.js"
  charset="utf-8"
></script>

<section>
  <h3><i class="far fa-newspaper"></i> &nbsp; Latest News</h3>
  <ul>
    <li>📢 The deadline for Nectar Track has been extended to <strong>Feb 15th,2025</strong></li>
    <li>📢 The paper notification date has been moved up to <strong>Nov 5th, 2024</strong></li>
    </ul><br>
    {% for post in site.posts limit:5 %} {% if post.year == page.year %}
    <a
      class="twitter-timeline"
      data-width="500"
      data-height="500"
      href="https://twitter.com/3DVconf?ref_src=twsrc%5Etfw"
      >Tweets by 3DVconf</a
    >
    <br />
    {% endif %} {% endfor %}
  <!-- </ul> -->
</section>