{% if page.year != null %}
    {% assign year = page.year %}
{% else %}
    {% assign year = site.data.3dv.current-year %}
{% endif %}

<!-- <h3><i class="far fa-handshake"></i> &nbsp; Sponsors</h3> -->
<!-- Stay tuned! -->

<div class="row">

</div>

<!--
<div class="row">

	<div class="col-md-6 align-self-center sponsor-logo-sidebar" style="padding:4px;" >
    <a href="https://www.capturingreality.com/" target="_blank">
      <img alt="Epic Games Logo" 
      src="{{site.url}}/img/2022/sponsors/epicgames_Logo_Vertical_Black.png"
      >
    </a>
	</div>		

	<div class="col-md-4 align-self-center sponsor-logo-sidebar" style="padding:4px;" >
    <a href="https://about.fb.com/realitylabs/" target="_blank">
      <img alt="Meta Logo" 
           src="{{site.url}}/img/2022/sponsors/RL-Research_Logo_Black.png"
      >
    </a>
	</div>

</div>
-->
