<!DOCTYPE html>
<html lang="en">

	{% include 2021_head.html %}

	<body>
	
		{% include 2021_header.html %}
		{% include 2021_nav.html %}

		<!-- Banner Image -->
		{% if page.banner-image %}
			{% include 2021_banner.html %}
		{% endif %}		
		<br/><br/>		
			
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<div class="container-fluid">
						<br>
					  	<!-- Page Title-->
						{% if page.title %}
			            	<h1>{% if page.title-logo %}{{page.title-logo}} {% endif %}{{ page.title }}</h1>
			            	<br>
			            {% endif %}

						<!-- Page Content-->		
						{{ content | smartify }}
				  	</div>			
			  	</div>
				<div class="col-sm-4">
					<div class="container">
						{% include 2021_news.html %}
					</div>
					<br>
					<div class="container-fluid">
						{% include 2021_sponsors.html %}
          			</div>
					<br>
				</div>
			</div>
		</div>
		
		{% include 2025_footer.html %}
		{% include 2021_scripts.html %}
	</body>
</html>
