<!DOCTYPE html>
<html lang="en">

	{% include 2027_head.html %}

	<body>
	
		{% include 2021_header.html %}
		{% include 2027_nav.html %}

		<!-- Banner Image -->
		{% if page.banner-image %}
			{% include 2027_banner.html %}
		{% endif %}		
		<br/><br/>		
			
		<div class="container">
			<div class="row">
				<!-- <div class="col-sm-8"> -->
				<div class="col-sm-12">
					<div class="container-fluid">
						<br>
					  	<!-- Page Title-->
						{% if page.title %}
			            	<h2>{% if page.title-logo %}{{page.title-logo}} {% endif %}{{ page.title }}</h2>
			            	<br>
			            {% endif %}

						<!-- Page Content-->		
						{{ content | smartify }}
				  	</div>			
			  	</div>
			</div>
		</div>
		
		{% include 2027_footer.html %}
		{% include 2021_scripts.html %}
	</body>
</html>
